{% extends 'baseBack.html.twig' %}
{% block title %}Détails de l’excursion{% endblock %}
{% block body %}
    <h1>Create new ContactMessage</h1>

    {{ include('Back/contact_message/_form.html.twig') }}

    <a href="{{ path('app_contact_message_index') }}">back to list</a>
{% endblock %}
